.main, .body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

.flexbox {
	display: inline-flex;
	margin:0;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content:space-between;
	width:25vw;
	height:80vh;
	top:10vh;
	position:relative;
	left:36.5vw;
}

.flexbox p {
	margin:auto;
	position: relative;
	font-size:25px;
	color:white;
	font-family: Arial;
}

.element {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	width:12vw;
	height:20vh;
	border:1px solid white;
	cursor:pointer;
	text-align: center;
}

.element:hover {
	opacity:0.5;
}

@media only screen and (max-device-width:450px) {
	.flexbox {
		left:0px;
		width:96vw;
		height:96vh;
	}

	.element {
		width:47vw;
		height:24vh;
	}

	h1 {
		z-index:2;
		margin-bottom:5vh;
		position: relative;
	}
}